h4	{
	background: rgb(51, 52, 54);
	color: rgb(121, 123, 128);
	padding: 10px;
	font-family: Arial;
}

img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

.greybox	{
	width: 90%;
	background-color: rgb(195, 199, 198);
	margin: 0 auto 0 auto;

}	

img	{
	size: 200px;
}
