h4	{
	background: rgb(51, 52, 54);
	color: rgb(121, 123, 128);
	padding: 10px;
	font-family: Arial;
	padding: 10px;
}

.btn btn-secondary	{
	text-align: right;
}

#btnOne	{
	color: black;
	text-align: center;
}

.red	{
	color: red;
	text-align: center;
}

.arxiki	{
	margin: 50px;
}

.inputs	{
	align-items: center;
}

.button	{
	text-align: right;
}

.btn btn-success	{
	margin: 50px;
	padding: 50px 50px;
}

.text {
	font-weight: bold;
}